.DS_Store
/target/
/grammars/tree-sitter-go-template/target/
cargo-test.txt
samples/
debug/
/cache/
.cache/
.cooldown.lock

# taskfile checksum cache
/.task

# goreleaser + zig files
.intentionally-empty-file.o
*_compiler_family.o
goreleaser-dist/
crates/helm-schema-template-grammar/*.o
