.DS_Store
/target/
/crates/helm-schema-template-grammar/grammars/*/Cargo.lock
/crates/helm-schema-template-grammar/grammars/*/build/
/crates/helm-schema-template-grammar/grammars/*/node_modules/
/crates/helm-schema-template-grammar/grammars/*/target/
/crates/helm-schema-template-grammar/grammars/**/*.log
/crates/helm-schema-template-grammar/grammars/**/*.o
/crates/helm-schema-template-grammar/grammars/**/*.obj
/crates/helm-schema-template-grammar/grammars/**/*.wasm
cargo-test.txt
samples/
debug/
/cache/
.cache/
.cooldown.lock

# taskfile checksum cache
/.task

# goreleaser + zig files
.intentionally-empty-file.o
*_compiler_family.o
goreleaser-dist/
crates/helm-schema-template-grammar/*.o
