.DS_Store
target/
cargo-test.txt
samples/
debug/
/cache/
.cache/

# taskfile checksum cache
/.task

# goreleaser + zig files
.intentionally-empty-file.o
*_compiler_family.o
goreleaser-dist/
crates/helm-schema-template-grammar/*.o
