[package]
name = "clippy-wrapper"
version.workspace = true
edition.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
clippy-shim = { git = "https://github.com/romnn/clippy-shim.git", branch = "main" }
